/*     /////     Basic style     /////     */
*, *::before, *::after {
	box-sizing: inherit;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-box-component {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
body {
	min-width: 940px;
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	color: #fff;

	/*background-color: #849d8f;*/
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
}
a {
	text-decoration: none;
}
img {
	min-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*     /////     @Keyframes     /////     */
@keyframes bonce {
	0% {
		bottom: 0;
		left: 50%;
		transform: translate(-50%,100%);
	}
	30% {
		top: 50%;
		left: 50%;
		transform: translate(-50%,-70%);
	}
	60% {
		top: 50%;
		left: 50%;
		transform: translate(-50%,-40%);
	}
	100% {
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
@keyframes shake {
	0%, 100% {
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	10%, 30%, 50%, 70%, 90% {
		top: 50%;
		left: 50%;
		transform: translate(-40%,-50%);
	}
	20%, 40%, 60%, 80% {
		top: 50%;
		left: 50%;
		transform: translate(-60%,-50%);
	}
}

/*     //////     .Header      /////     */
.main-header {
	display: flex;
	flex-wrap: wrap;
}
.main-navigation {
	display: flex;
	align-items: center;
	margin-top: 10px;
	width: 100%;
}
.main-header-logo {
	display: block;
	width: 154px;
	height: 64px;
}

.site-navigation {
	display: flex;
	padding: 0;
	margin: 0;
	min-width: 380px;
	list-style: none;
	font-size: 16px;
	line-height: 18px;
}
.site-navigation li {
	position: relative;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.site-navigation a,
.user-navigation a {
	display: flex;
	align-items: center;
	padding: 8px;
	border-radius: 20px;
	color: #fff;
}
.site-navigation a {
	padding-left: 13px;
	padding-right: 13px;
}
.site-navigation span {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.site-navigation .current-page {
	background-color: #d07058;
}
.current-page span {
	border-bottom: none;
}


.site-navigation .submenu {
	position: absolute;
	width: 143px;
	margin: 0;
	margin-top: 10px;
	margin-left: -5px;
	padding: 0;
	list-style: none;
	background-color: #f8f7f4;
	border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 10;
	display: none;
}

.submenu li {
	position: relative;
	margin: 0;
	padding: 0;
}
.submenu a {
	padding: 8px 20px;
	color: #000;
	border-radius: 0;
	font-size: 14px;
	line-height: 16px;
}
.submenu .dropdown {
	padding-top: 11px;
	padding-bottom: 11px;
	font-weight: 700;
}
.submenu .dropdown::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateX(5%);
	height: 1px;
	width: 90%;
	background-color: rgba(0,0,0,0.2);
}
.dropdown-item:first-child a{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.dropdown-item:last-child a{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.site-navigation a:hover,
.user-navigation a:hover {
	background-color: #f7f6f3;
	color: #000;
}
.site-navigation a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}
.submenu a[href]:hover {
	background-color: #fbded8;
}
.submenu a[href]:active {
	background-color: #f6b5a5;
}
.submenu a:not([href]) {
	background-color: #d07058;
	cursor: auto;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
  border-radius: 50px;
  padding: 10px 40px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  font: inherit;
	color: inherit;
	font-size: 32px;
	line-height: 44px;
	outline: none;
	cursor: pointer;
}
.btn:hover {
	background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0px 2px 2px 0px #ac1000;
}
.btn:active {
  box-shadow: inset 0px 2px 2px 0px #942718;
  background-image: linear-gradient(#d74632, #e1613e);
}

.user-navigation {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: auto;
	win-width: 280px;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.user-navigation li {
	margin-left: 10px;
}
.user-navigation a {
	background-color: #9db1a5;
}
.user-navigation .search-btn {
	padding: 8px;
}
.user-navigation .user-login,
.user-navigation .user-basket {
	padding-left: 16px;
	padding-right: 16px;
}
.user-navigation .user-icon {
	margin-left: 7px;
}

.user-navigation .search-container {
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
}
.user-navigation .login-container {
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
}
.user-navigation .bascet-container {
	padding-top: 10px;
	padding-bottom: 10px;
}
.user-navigation .form-search-wrapper {
	position: absolute;
	top: 100%;
	right: 0;
	padding: 20px 16px;
	/*margin-top: 7px;*/
  border-radius: 6px;
	background-color: #f8f7f4;
	color: #999999;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 10;

  display: none;
}
.form-search-wrapper .navigation-search {
	  border-radius: 6px;
}
.navigation-search input[type="text"] {
	border-radius: 6px;
	width: 310px;
	height: 44px;
	padding: 15px;
		outline: none;
	font: inherit;
	color: inherit;
	border: 1px solid #999999;
}
.user-navigation .form-login-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
	padding: 20px;
	/*margin-top: 10px;*/
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 10;

  display: none;
}
.form-login input[type="text"] {
	width: 240px;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 6px;
	border: 1px solid #666;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
.form-login .bottom-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bottom-wrapper .btn-login {
	margin: 0;
  width: 100px;
  height: 44px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	cursor: pointer;
}
.bottom-wrapper .wrapper-info-link {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}
.wrapper-info-link p {
	padding: 0;
	margin: 0;
}

.bottom-wrapper .login-form-link {
	display: inline;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border-bottom: 1px solid #000;
	color: #323232;
	background-color: transparent;
}

.user-icon-all:hover svg path, 
.user-icon-all:hover svg circle{
	fill: #000;
}

.secondary-content-wrapper {
	/*position: absolute;*/
	position: relative;
	width: 100%;
}
.secondary-content {
	position: absolute;
	top: 10px;
	right: 0;
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-left: auto;
	width: 22.2%;
}
.secondary-content p {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}
.secondary-content a {
	display: block;
	font-size: 22px;
	line-height: 24px;
	color: inherit;
}

.site-navigation li:hover .submenu,
.search-container:hover .form-search-wrapper,
.login-container:hover .form-login-wrapper {
	display: block;
}

/*      //////      .Slider      /////     */
body > input[type="radio"] {
	display: none;
}
.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
	/*background-image: url("../img/slider/slider-1.png");*/
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease,
		background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}
.site-wrapper::before {
	background-image: url("../img/slider/slide-2.png");
}
.site-wrapper::after {
	background-image: url("../img/slider/slide-3.png");
}
.slider {
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}
.slide {
	display: none;
}
.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 60px;
}
.slide-btn {
	display: inline-block;
}
.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 20;
	font-size: 0;
}
.slider-controls label{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider/slider-1.png");
}
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider/slide-2.png");
}
#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider/slide-3.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #fff;
}

/*     /////     .Main     /////     */
/*.hero {
	position: relative;
	
	margin-bottom: -20px;
}
.bg-light {
	position: absolute;
	top: 0;
	width: 60%;
	height: 130%;
	background-image: url("../img/color.png");
	background-repeat: no-repeat;
	z-index: -10;
}
.hero .slider {
	position: relative;
	display: flex;
	margin: auto;
	width: 720px;
}

.slider .slider-info {
	position: absolute;
	bottom: 10%;
	display: flex;
	order: 1;
	flex-direction: column;
	text-align: center;
	margin: 0 20px;
	z-index: 5;
}
.slider-info h2 {
	padding: 0;
	margin: 0;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 700;
	margin-bottom: 25px;
}

.slider .slider-image {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.slider-image .left-ice {
	position: relative;
	top: 0;
	left: 40px;
	width: 372px;
	height: 584px;
	z-index: -5;
}
.slider-image .right-ice {
	position: relative;
	top: 10px;
	left: -15px;
	width: 333px;
	height: 519px;
	z-index: -6;
}
.hero .hero-toggles {
	position: absolute;
	bottom: 13%;
}*/

/*     //////      .Specials     /////     */
.main-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}
.specials {
	display: flex;
	flex-direction: column;
	width: 560px;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 10px;
	background: #868686 url("../img/Малиновый фон.png") no-repeat;
	background-size: cover;
}
.specials-inner {
	display: flex;
	flex-direction: column;
}
.specials-inner h3{
	margin: 0;
	margin-bottom: 20px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 400;
}
.specials-inner p {
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}
.btn-specials {
	padding: 11px 22px;
	margin-right: 0;
	margin-left: auto;
	margin-top: 40px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.specials-choco {
	background: #666 url("../img/Шоколадный фон.png") no-repeat;
	background-size: cover;
}

/*     /////     .Inner-page     /////     */  
.inner-page {
	margin-top: 30px;
}

.breadcrumbs .crumbs-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.crumbs-list li {
	position: relative;
	padding: 0 10px;
}
.crumbs-list li:first-child {
	padding-left: 0;
}
.crumbs-list li:not(:last-of-type)::after {
	content: "»";
	position: absolute;
	top: 0;
	right: -4px;
}

.crumbs-list a {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}
.crumbs-list a[href] {
	border-bottom: 1px solid rgba(255,255,255,0.6);
}
.crumbs-list a[href]:hover {
	color: #ffbc9e;
}
.breadcrumbs h1 {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

/*     /////     .Filters     /////     */
.filters {
	/*border: 1px solid #000;*/
	padding-top: 10px;
	padding-bottom: 25px;
}
.main-filter {
	display: flex;
	flex-direction: column;
}
.main-filter .filter-row {
	display: flex;
	align-items: flex-end;
	margin-top: 15px;
}
.filter-heading {
	margin: 0;
	margin-left: 15px;
	margin-bottom: 7px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-box {
	position: relative;
	overflow: hidden;
}
.filter-box .select-inner {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 30px;
	padding-left: 15px;
	border: 0;
	border-radius: 50px;
	color: #fff;
	background-color: rgba(255,255,255,.2);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	width: 100%;
	-webkit-appearance: none;
}
.filter-box::after {
	content: "";
	position: absolute;
	top: 13px;
	right: 16px;
	display: block;
	width: 0;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: currentColor transparent transparent transparent;
	pointer-events: none;
	color: #fff;
}
.range-controls {
	height: 36px;
	width: 218px;
	padding: 0 20px;
	background-color: rgba(255,255,255,.2);
	overflow: hidden;
	border-radius: 50px;
	color: #fff;
}
.range-controls .scale {

	margin-top: 16px;
	height: 4px;
	background-color: rgba(255,255,255,0.3);
}
.range-controls .bar {
	position: relative;
	height: 4px;
	background-color: #fff;
}
.bar .toggle {
	position: absolute;
	top: -8px;
	left: 10px;
	width: 20px;
	height: 20px;
	border: 8px solid white;
	background-color: #ababab;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	/*opacity: 0.2;*/
}
.range-controls .min-toggle {
	left: -10px;
}
.range-controls .max-toggle {
	left: 93%;
}
.filter-field,
.filter-submit {
	padding: 7px 15px;
	border: 0;
	background-color: rgba(255,255,255,0.2);
	border-radius: 50px;
}

.filter-field .radio {
	position: relative;
	cursor: pointer;
}
.filter-field .radio-input,
.filter-field .checkbox-input {
	position: absolute;
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
}
.filter-field .radio-label {
	max-width: 210px;
	padding: 3px 0 1px 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.radio-label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	padding: 3px;
	border: 3px solid #fff;
	border-radius: 50%;
	background-clip: content-box;
	opacity: 0.8;
}
.radio-input:active:focus+.radio-label::before,
.radio-input:checked+.radio-label::before {
	background-color: #fff;
}
.filter-field .checkbox {
	position: relative;
}
.filter-field .checkbox-label {
	max-width: 210px;
	padding: 2px 0 2px 33px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.checkbox-label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-clip: content-box;
	background-image: url("../img/svg-gllacy/checkbox-off.svg");
	background-position: 0 0;
	background-size: cover;
	opacity: 0.8;
}
.checkbox-input:not(:checked)+.checkbox-label::before,
.checkbox-input:checked:active+.checkbox-label::before {
	width: 22px;
	background-image: url("../img/svg-gllacy/checkbox-on.svg");
	background-position: 0 0;
	background-size: cover;
}


.filter-submit {
	border: 2px solid #fff;
	width: 144px;
	height: 37px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.filter-submit:hover {
	background-color: #fbfcfb;
	color: #000;
}
.filter-submit:active {
	background-color: #eaeaea;
	color: #000;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}
.radio:not(:last-of-type) {
	margin-right: 15px;
}
.checkbox:not(:last-of-type) {
	margin-right: 15px;
}
.filter-col:not(:last-of-type) {
	margin-right: 15px;
}
.filter-col-last {
	margin-right: 10px;
}

/*      /////      .Ice-row (Популярние сорти)     /////     */
.ice-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5px 0;
}

.ice-row .card-hit {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	width: 267px;
	margin-bottom: 25px;
}

.main-content .card-hit::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 61px;
	height: 61px;
	background-image: url("../img/svg-gllacy/hit.svg");
}
.card-hit .card-name {
	margin: 0;
	margin-top: 15px;
	margin-bottom: auto;
	text-align: center;
}
.card-name a {
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	border-bottom: 1px solid rgba(255,255,255,0.2);

}
.ice-row .card-inner-pic {
	width: 267px;
	height: 267px;
	border-radius: 50%;
	overflow: hidden;
}
.ice-row .card-price {
	position: absolute;
	bottom: 22%;
	display: flex;
	align-items: flex-end;
	padding: 0;
	margin: 0;
}
.card-price b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}
.card-price .img-rub {
	display: inline-block;
	min-width: 31px;
	height: 36px;
	margin-left: 5px;
	margin-bottom: 3px;
}
.card-price span {
	font-size: 30px;
	font-weight: 700;
}

/*      //////      .Pagination inner     /////      */
.pagination {
	display: flex;
	padding-top: 80px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.pagination-list {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: auto;
	list-style: none;
}
.pagination-list .pagination-item {
	display: block;
}
.pagination-list a {
	display: block;
	padding: 5px 8px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	color: #fff;
	/*border: 1px solid #000;*/
}
.pagination-list a:hover {
	background-color: rgba(255,255,255,0.2);
}
.pagination-list .pagination-link-arrow {
	position: relative;
}
.pagination-list .pagination-link-prev::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
	display: block;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #f2f2f2;
	border-left: 2px solid #f2f2f2;
	border-radius: 2%;
}
.pagination-list .pagination-link-next::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-135deg);
	display: block;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #f2f2f2;
	border-left: 2px solid #f2f2f2;
	border-radius: 2%;
}
.pagination-list .pagination-link-disabled {
	opacity: 0.25;
	cursor: default;
}
.pagination-item-current a{
	background-color: #fff;
	color: #000;
}

/*     /////     About-us     /////     /////     */
.about-us {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 20px;
	margin-bottom: 40px;
	border-radius: 10px;
	background: #eee2c9 url("../img/Вафля фон.png") no-repeat;
	background-size: cover;
}
.about-us h2 {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #000;
}
.about-us .about-us-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	width: 100%;
	color: #000;
	list-style: none;
}
.about-us-list li {
	display: flex;
	width: 540px;
	margin-top: 25px;
}
.about-us-list .about-us-img {
	width: 49px;
	height: 49px;
	margin-top: -15px;
	margin-right: 10px;
}
.about-us-list p {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
}

.main-row .news-blog {
	color: #000;
	background: #fff url("../img/Клубничный фон.png") center no-repeat;
	background-size: cover;
}
.news-blog p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	margin-bottom: 5px;
}
.news-blog a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
}
.news-blog span {
	border-bottom: 1px solid #000;
}
.main-row .subscribe {
	padding: 5px;
	background: #fff url("../img/Почтовый-фон.png") center no-repeat;
	background-size: cover;
}
.subscribe .specials-inner {
	background-color: #f8f7f4;
	padding: 20px;
}
.specials-inner p {
	color: #000;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}
.specials-inner .subscribe-field {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	border: 0;
}
.subscribe-field .subscribe-input {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	margin: 0;
}
.subscribe-field input[type="text"] {
	width: 368px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
}
.subscribe-field .btn-specials {
	display: flex;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.map {
	position: relative;
	padding: 65px 0;
}
.map .map-google {
	position: absolute;
	top: 0;
	width: 100%;
}
.map iframe{
	height: 430px;
	width: 100%;
}
.map .map-info {
	position: relative;
	margin-left: auto;
	width: 300px;
	padding: 25px 20px;
  border-radius: 15px;
	background-color: #fefefe;
	color: #000;
}
.map-info span {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
.map-info p {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.map-info .map-info-str{
	margin-bottom: 20px;
}
.map-info .btn-map {
	margin-top: 25px;
	padding: 10px 25px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
}

/*     //////     .Footer     /////     */
.index-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
}
.footer-social {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-social li {
	margin-right: 10px;
}
.footer-social a {
	display: flex;
	border-radius: 50%;
	border: 3px solid rgba(255,255,255,0.5);
}
.footer-social img {
	width: 32px;
	height: 32px;
} 

.footer-large {
	display: flex;
}
.footer-large .footer-info {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 25px;
}
.footer-info li {
	margin-bottom: 5px;
}
.footer-info li:last-child {
	margin-bottom: 0;
}
.footer-info a {
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}
.footer-info .current {
	position: relative;
	font-weight: 700;
}
.footer-info .current::before {
	content: "";
	position: absolute;
	top: 2px;
	left: -20px;
	display: block;
	width: 15px;
	height: 13px;
	background-image: url("../img/svg-gllacy/heart.svg");
}
.footer-info span {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.footer-small {
	display: flex;
	align-items: center;
}
.ava {
	display: flex;
	width: 45px;
	height: 45px;
	overflow: hidden;
	margin-right: 5px;
	border-radius: 50%;
	border: 3px solid rgba(255,255,255,0.5);
}
.ava img {
	width: 40px;
	height: 40px;
}
.footer-small p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

/*     /////     .Modal     /////     */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
	outline: 0;
	z-index: 200;
	display: none;
}

.overlay .modal-feedback {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 25px;
	padding-top: 20px;
	width: 478px;
	border-radius: 10px;
  background-color: rgb(248, 247, 244);
  z-index: 213;
}
.feedback-form {
	display: flex;
	flex-wrap: wrap;
}
.feedback-form fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
.feedback-form legend {
	margin-bottom: 20px;
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}
.feedback-form input[type="text"] {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;

	border: 1px solid rgb(178, 178, 178);
  background-color: rgb(255, 255, 255);
  opacity: 0.52;
  height: 44px;
  width: 269px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.feedback-form textarea {
	padding: 10px;
	resize: none;
	border-radius: 5px;
	border: 1px solid rgb(178, 178, 178);
  background-color: rgb(255, 255, 255);
  opacity: 0.52;
  width: 430px;
  height: 157px;
}

.feedback-form input[type="text"]:hover {
	border: 2px solid rgb(178,178,178);
}
.feedback-form textarea:hover {
	border: 2px solid rgb(178,178,178);
}
.feedback-form input[type="text"]:focus,
.feadback-form textarea:focus {
	border: 2px solid #5b9ddf;
	outline: none;
}
.feedback-form textarea:focus {
	border: 2px solid #5b9ddf;
	outline: none;
}
.feedback-form .btn {
	margin: 0;
	margin-left: auto;
	margin-top: 25px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	cursor: pointer;
}
.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 22px;
	height: 22px;

	font-size: 0;

	/*background-color: red;*/
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 10px;
	left: 2px;

	width: 20px;
	height: 2px;

	background-color: #323232;
}
.modal-close::before {
	transform: rotate(45deg);
}
.modal-close::after {
	transform: rotate(-45deg);
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}
.modal-show {
	display: block;
}
.modal-animation {
	animation-name: bonce;
	animation-duration: 0.6s;
}







